
<div class="container d-flex justify-content-center align-items-center min-vh-100 my-5">
    <div class="card p-4" style="width: 400px;">
      <h1 class="text-center mb-3">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control" id="username" formControlName="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
          <span *ngIf="!isLoading">Login</span>
            <span *ngIf="isLoading">
              <i class="fas fa-spinner fa-spin me-2"></i>Logging in...
            </span>
        </button>
        <div *ngIf="loginError" class="alert alert-danger mt-3">{{ loginError }}</div> 
        <p class="text-center mt-3">Don't have an account? <a [routerLink]="['/register']">Register</a></p>
      </form>
    </div>
  </div>
  